.heli {
    background-image: url('assets/images/heli.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
.drone {
    background-image: url('assets/images/drone.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
.voiture {
    background-image: url('assets/images/voiture.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
#maptt { height: 700px; }

.ztop {
    z-index: 1000;
}
